<!-- Sidebar -->
{% if user.propietario.empresactiva %}
<div class="sidebar">
  <a href="{% url "conta:home" %}" class="logo">
    <i class='bx bx-wallet bx-flashing'></i>
    <div class="logo-name">Analyti<span>Fin</span></div>
  </a>
  <ul class="side-menu">
    <li class="active">
      <a href="{% url "conta:home" %}">
        <i class='bx bxs-dashboard'></i>
        Inicio

      </a>
    </li>
    <li>
      <a href="{% url 'conta:ver_estados_financieros' %}">
        <i class='bx bxs-component'></i>
        Estados Financieros
      </a>
    </li>
    <li>
      <a href="{% url 'conta:home-ratios'%}">
        <i class='bx bx-hive'></i>
        Ratios Financieros
      </a>
    </li>
    <li>
      <a href="{% url 'conta:analisis_vertical' %}">
        <i class='bx bx-objects-vertical-bottom'></i>        
        Análisis Vertical
      </a>
    </li>
    <li>
      <a href="{% url 'conta:analisis_horizontal' %}">
        <i class='bx bx-objects-horizontal-left' ></i>
        Análisis Horizontal
      </a>
    </li>
    <li>
      <a href="{% url 'conta:variacion_cuenta'%}">
        <i class='bx bx-objects-vertical-bottom'></i>        
        Grafico de Variación
      </a>
    </li>
    <li>
      <a href="{% url 'conta:grafico_ratios'%}">
        <i class='bx bx-objects-vertical-bottom'></i>        
        Grafico de ratios
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="{% url 'logout'%}" class="logout">
        <i class="bx fa-solid fa-arrow-right-from-bracket"></i>
        Cerrar Sesión
      </a>
    </li>
  </ul>
</div>
{% else %}
<div class="sidebar close">
  <a href="{% url "conta:home" %}" class="logo">
    <i class='bx bx-wallet bx-flashing'></i>
    <div class="logo-name">Analyti<span>Fin</span></div>
  </a>
  {% if user.is_superuser %}
  <ul class="side-menu">
    <li class="active">
      <a href="{% url "conta:home" %}">
        <i class='bx bxs-dashboard'></i>
        Inicio
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="{% url 'logout'%}" class="logout">
        <i class="bx fa-solid fa-arrow-right-from-bracket"></i>
        Cerrar Sesión
      </a>
    </li>
  </ul>
  {% endif %}
</div>
{% endif %}
<!-- End of Sidebar -->