
{% extends "layouts/base.html" %}
{% block title %}Balance General{% endblock %}

{% block content %}
    <h1>Registrar Empresa</h1>

<form method="post" enctype="multipart/form-data">
    {{empresa_form.as_p}}
    <h6>Cargar Balance General</h6>
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Guardar"></p>
</form>

 {% endblock %}

{% block filtros%}
<form method="post">
    {% csrf_token %}
    <label for="fname">Fecha inicial</label><br>
    <input type="date" id="año" name="fechainicio" value="Año"><br>

    <label for="fame">Fecha final</label><br>
    <input type="date" id="año" name="fechafinal" value="Año"><br>
    
    <input type="submit" value="Submit">
</form> 
<h2>{{balance}}</h2>

{% endblock %}

