
{% extends "layouts/base.html" %}
{% block title %}Inicio | AnalytiFin{% endblock %}

{% block content %}
    {% if propietario %}
    <div class="header">
        <div class="left">
            <h1>{{empresa.nombre_empresa}}</h1>
            <ul class="breadcrumb">
                <li><a href="#">
                        AnalytiFin
                    </a></li>
                /
                <li><a href="#" class="active">Inicio</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="card rounded-4 card-content">
                <div class="card-body">
                    <h5 class="card-title">Estados Financieros</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Documentos</h6>
                    <p class="card-text">
                        Visualización de estados financieros de {{empresa.nombre_empresa}}: Balance General y Estado de Resultados.
                    </p>
                    <a href="{% url 'conta:ver_balance_general' %}" class="card-link">Balance General</a>
                    <a href="{% url 'conta:ver_estado_resultado' %}" class="card-link">Estado de Resultados</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card rounded-4 card-content">
                <div class="card-body">
                  <h5 class="card-title">Ratios Financieros</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Desempeños de la Empresa</h6>
                  <p class="card-text">Indicadores de las actividades de la empresa.</p>
                  <a href="{% url 'conta:home-ratios' %}" class="card-link">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card rounded-4 card-content">
                <div class="card-body">
                  <h5 class="card-title">Comparaciones</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Análisis de Desempeño</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card rounded-4 card-content">
                <div class="card-body">
                  <h5 class="card-title">Análisis de la Empresa</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Cuentas</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    
    {% endif%}
{% endblock %}