{% extends "layouts/base.html" %}

{% block title %}
    ANF115 | Comparacion de ratios por valor
{% endblock %}

{% block content %} 

{% if error is None %}
    


<div class="table-responsive">
    <form action="" method="POST">
    {% csrf_token %}
    <table class="table table-borderless table-hover">
        <tbody>
            <tr>
                <td><p>Año:</p></td>
                <td>
                    <select name="selectAño" id="" required class="form-select"> 
                        {% for año in listaAños %}
                        <option value="{{año.anio}}">{{año.anio}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><p>Empresa a comparar:</p></td>
                <td>
                    <select name="selectEmpresa" class="form-select" id="" required>
                        {% for empresa in empresasSector %}
                        {% if empresa.id != miempresa.id %}
                        <option value="{{empresa.id}}">{{empresa}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <p>Ingrese los valores de los ratios que desea comparar, los ratios que deje en blanco no se mostrarán en la comparación</p>
    </div>
    <table class="table table-borderless table-hover">
        <thead>
            <th>Ratio</th>
            <th>Valor</th>
        </thead>
        <tbody>
            <tr>
                <td>Razón circulante</td>
                <td><input type="number" placeholder="1.0" name="razonCirculante" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Prueba ácida</td>
                <td><input type="number" placeholder="1.0" name="pruebaAcida" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de capital de trabajo</td>
                <td><input type="number" placeholder="0" name="razonCapitalTrabajo" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de efectivo</td>
                <td><input type="number" placeholder="0.1" name="razonEfectivo" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de rotación de inventario</td>
                <td><input type="number" name="razonRotacionInventario" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de días de inventario</td>
                <td><input type="number" placeholder="75" name="razonDiasInventario" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de rotación de cuentas por cobrar</td>
                <td><input type="number" name="razonRotacionCuentasCobrar" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de período medio cobranza</td>
                <td><input type="number" name="razonPeriodoMedioCobranza" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Razón de rotación de cuentas por pagar</td>
                <td><input type="number" name="razonRotacionCuentasPagar" step="0.01" value="1"></td>
            </tr>
            <tr>
                <td>Período de medio pago</td>
                <td><input type="number" name="periodoMedioPago" step="0.01" value="1"></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Comparar</button>
    </div>
    </form>
</div>
{% else %}
<div class="d-flex justify-content-center">
    <p><strong>Por favor, seleccione un año en el formulario derecho</strong></p>
</div>
{% endif %}

    

    
{% endblock %}

{% block filtros%}
<!--

</br>

<form action="" method="POST">
    {% csrf_token %}
    


<p class="mt-3">Empresas a comparar:</p>
{% for empresa in empresasSector %}
{% if empresa.id != miempresa.id %}
<div class="form-check">
    <input  type="checkbox" value="{{empresa.id}} " id="flexCheckDefault" name="empresasSeleccionadas">
    <label class="form-check-label"  for="flexCheckDefault">
      {{empresa.nombre_empresa}}
    </label>
  </div>
{% endif %}
{% endfor %}

<button type="submit" class="btn btn-primary">Calcular</button>
</form>


<script>
    document.querySelector('form').addEventListener('submit', function(e) {
      const checkboxes = document.querySelectorAll('input[name="opciones"]');
      let checked = false;
    
      for (const checkbox of checkboxes) {
        if (checkbox.checked) {
          checked = true;
          break;
        }
      }
    
      if (!checked) {
        alert('Debes seleccionar al menos una opción.');
        e.preventDefault(); // Evita el envío del formulario
      }
    });
    </script>
-->
    
{% endblock %}