{% extends "layouts/base.html" %}

{% block title %}
    ANF115 | Comparacion de ratios por promedio
{% endblock %}

{% block content %}
{% if activoCorriente %}
{% if anio %}
<h4 class="text-center mt-4"></h4>

    <div class="text-center fw-400 mb-3">
        Comparacion de ratios por promedio
    </div>   
    
    <div class="text-center fw-400 mb-3">
        Año: {{anio}}
    </div> 
<div class="d-flex justify-content-center">
    <div class="table-responsive">
        <table class="table table-borderless table-hover">
            <tr>
                <td style="background-color: green;"></td><td>Arriba del promedio</td>
            </tr>
            <tr>
                <td style="background-color: red;"></td><td>Abajo del promedio</td>
            </tr>
        </table>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-borderless table-hover">
        <thead>
            <th>Ratio</th>
            {% for empresa in empresas %}
            <th>{{empresa.nombre}}</th>
            {% endfor %}
            <th>Promedio</th>
        </thead>

        <tbody>
            <tr>
            {% for elemento in promedios %}
            <td>{{elemento.nombre}}</td>
            {% if elemento.ratio1esMayor %}
            <td style="background-color: green;">{{ elemento.ratio1|floatformat:2 }}</td>
            {% else %}
            <td style="background-color: red;">{{ elemento.ratio1|floatformat:2 }}</td>
            {% endif %}
            {% if elemento.ratio2esMayor %}
            <td style="background-color: green;">{{ elemento.ratio2|floatformat:2 }}</td>
            {% else %}
            <td style="background-color: red;">{{ elemento.ratio2|floatformat:2 }}</td>
            {% endif %}
            <td>{{ elemento.promedio|floatformat:2 }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}  
<div class="d-flex justify-content-center">
    <p><strong>Por favor, seleccione un año en el formulario derecho</strong></p>
</div>
{% endif %}

{% else %}
<div class="d-flex justify-content-center">
    <div class="container">
        <div class="col-12"></div>
        <strong>No se han asignado las cuentas para el cálculo de ratios</strong>
    </div>
    <div class="container">
        <div class="col-12"></div>
        <a href="{% url 'conta:crear-cuentas-ratios'%}" class="btn btn-primary">Definir Cuentas para calcular los Ratios</a>
    </div>
</div>

{% endif %}

{% endblock %}

{% block filtros%}
{% if activoCorriente %}
</br>

<form action="" method="POST">
    {% csrf_token %}
    <p>Año:</p>
<select name="selectAño" id="" required class="form-select"> 
    {% for año in listaAños %}
    <option value="{{año.anio}}">{{año.anio}}</option>
    {% endfor %}
</select>
<button type="submit" class="btn btn-primary">Calcular</button>
</form>
{% endif %}
{% endblock %}