
{% extends "layouts/base.html" %}
{% block title %}Seleccionar Cuentas{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="btn-group-vertical">
        <a href="{% url 'conta:crear-cuentas-ratios'%}" class="btn btn-primary rounded">Definir Cuentas para calcular los Ratios</a>
        <a href="{% url 'conta:calcular_ratios' %}" class="btn btn-primary mt-3 rounded">Análisis horizontal de ratios</a>
        <a href="{% url 'conta:comparacion-ratios-empresas-promedios' %}" class="btn btn-primary mt-3 rounded">Comparar ratios de empresas por promedio</a>
        <a href="{% url 'conta:comparacion-ratios-empresas-valor' %}" class="btn btn-primary mt-3 rounded">Comparar ratios de empresas con valores ingresados</a>
      </div>
</div>

{% endblock %}


